@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center text-center">
                <h2 data-aos="fade-up">Estacione Aqui!</h2>
                <p data-aos="fade-up" data-aos-delay="100">Os melhores preços da região.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a asp-area="" asp-controller="Reserve" asp-action="Create" class="btn-book-a-table">Reservar</a>
                    <!--  <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center text-lg-start">
                <img src="assets/img/estacionamento.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Sobre</h2>
                <p>Saiba mais <span>sobre nós</span></p>
            </div>

            <div class="col-md-12 reservation-img justify-content-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/img/autoamg.jpg" alt="sobre" style="width: 100%; height: 100%; vertical-align: bottom" >
            </div>

            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/sobre.jpg) ;" data-aos="fade-up" data-aos-delay="150">
                    <div class="call-us position-absolute">
                        <h4>Reserve uma vaga</h4>
                        <p>ParkQuest.com</p>
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            A ParkQuest.com oferece vagas de estacionamento nos melhores pontos do Brasil.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Reservas diretamente pelo site</li>
                            <li><i class="bi bi-check2-all"></i> Vagas em aeroportos, shoppings, estádios e muito mais</li>
                            <li><i class="bi bi-check2-all"></i> Preços que cabem no seu bolso</li>
                        </ul>
                        <!--
                <p>
                 Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                </p>
                -->
                        <div class="position-relative mt-4">
                            <img src="assets/img/autoamg.jpg" class="img-fluid" alt="">
                            <!--<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>-->
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="why-box">
                        <h3>Alguma dúvida?</h3>
                        <p>
                            Estamos focados em atendê-lo da melhor maneira possível através dos nossos canais digitais, por isso, separamos aqui as perguntas mais frequentes para te ajudar
                            Caso ainda tenha alguma dúvida, sugestão, problema ou queira fazer um elogio, entre em contato.
                        </p>
                        <div class="text-center">
                            <a href="#contact" class="more-btn">Mais informações <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div><!-- End Why Box  clicando <a href="#contact">aqui</a>-->

                <div class="col-lg-8 d-flex align-items-center">
                    <div class="row gy-4">

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Quais dados devo utilizar para acessar a aplicação?</h4>
                                <p>
                                    É necessário utilizar apenas seu e-mail e a senha criada no momento do cadastro.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-gem"></i>
                                <h4>Como simular o preço das reservas?</h4>
                                <p>
                                    Você pode simular o preço de sua estadia em nossa aplicação. Para isso, acesse a página de Reserva e selecione a garagem e o período desejado.
                                    Lembrando que os preços simulados são válidos apenas para reservas.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-inboxes"></i>
                                <h4>Posso alterar ou cancelar minha Reserva?</h4>
                                <p>Pode sim! Você pode alterar o período ou cancelar sua reserva em até 24 horas antes do horário de início de sua reserva.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Contato</h2>
                <p>Entre em <span>Contato</span></p>
            </div>

            <div class="mb-3">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3757.840888991449!2d-43.967584684891285!3d-19.634098986770148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6631c0e742453%3A0x9cb0e3528a7a1983!2sAeroporto%20Internacional%20de%20Confins%20-%20Tancredo%20Neves!5e0!3m2!1spt-BR!2sbg!4v1666145472084!5m2!1spt-BR!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen></iframe>
            </div><!-- End Google Maps  https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621-->

            <div class="row gy-4">

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-map flex-shrink-0"></i>
                        <div>
                            <h3>Endereço</h3>
                            <p>Aeroporto Internacional de Confins, MG, Brasil</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center">
                        <i class="icon bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>E-mail</h3>
                            <p>contato@parkquest.com</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Telefone</h3>
                            <p>+55 31 3221 1777</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-share flex-shrink-0"></i>
                        <div>
                            <h3>Horário de abertura</h3>
                            <div>
                                <strong>Segunda à Sábado:</strong> 07AM - 23PM;
                                <strong>Domingo:</strong> 09AM - 20PM;
                            </div>
                        </div>
                    </div>
                </div><!-- End Info Item -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>



