@model Dominio.Entidades.Usuario

@{
    ViewData["Title"] = "Create";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Cadastro</h2>
                <ol>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Cadastro</li>
                </ol>
            </div>

        </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <section id="reserva" class="book-a-table">
                <div class="container" data-aos="fade-up">
                    <div class="section-header">
                        <p><span>Cadastro de Usuário</span></p>
                    </div>

                    <div class="row g-0">

                        <div class="col-lg-6 reservation-img d-flex flex-column justify-content-center" data-aos="zoom-out" data-aos-delay="200">
                            <img src="~/img/sobre.jpg" alt="sobre" style="width: 100%" />
                        </div>

                        <div class="col-lg-6 d-flex align-items-center reservation-form-bg justify-content-center">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="nome" class="form-control" placeholder="Nome" />
                                    <span asp-validation-for="nome" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="email" class="form-control" placeholder="E-mail" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="cpf" class="form-control" placeholder="CPF" />
                                    <span asp-validation-for="cpf" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="senha" class="form-control" placeholder="Senha" />
                                    <span asp-validation-for="senha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Criar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

</main><!-- End #main -->

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
